{
  "debug": {
    "errorRoutes": {
      "enabled": false
    }
  },
  "sqlInjection": {
    "enabled": false,
    "targets": {
      "loginUsername": false,
      "registerUsernameLookup": false,
      "registerCreateUser": false,
      "adminUserUsernameLookup": false,
      "adminUserCreate": false,
      "profileLookupByUsername": false,
      "profileUpdate": false,
      "boardLookupBySlug": false,
      "boardCreate": false,
      "boardUpdate": false,
      "postLookup": false,
      "postCreate": false,
      "postUpdate": false
    }
  },
  "SSTI": {
    "enabled": false
  },
  "csrf": {
    "enabled": false
  },
  "uploadValidation": {
    "extensionCheck": {
      "enabled": true
    },
    "magicNumberCheck": {
      "enabled": true
    }
  },
  "XSS": {
    "stored": {
      "enabled": false
    },
    "sanitize": {
      "clientSide": {
        "enabled": true,
        "defaultRuleToggles": {
          "ampersand": true,
          "lessThan": true,
          "greaterThan": true,
          "doubleQuote": true,
          "singleQuote": true,
          "backtick": true
        },
        "customRules": [
          {
            "from": "&",
            "to": "&amp;"
          }
        ]
      },
      "serverSide": {
        "enabled": true,
        "defaultRuleToggles": {
          "ampersand": true,
          "lessThan": true,
          "greaterThan": true,
          "doubleQuote": true,
          "singleQuote": true,
          "backtick": true
        },
        "customRules": [
          {
            "from": "<",
            "to": "&lt;"
          },
          {
            "from": ">",
            "to": "&gt;"
          }
        ]
      }
    }
  }
}
