{
  "sqli": false,
  "debugErrorRoutes": false,
  "uploadValidation": {
    "extensionCheckEnabled": true,
    "magicNumberCheckEnabled": true
  },
  "xssInjection": {
    "storedXss": false,
    "clientSide": {
      "sanitizeEnabled": true,
      "defaultRuleToggles": {
        "ampersand": true,
        "lessThan": true,
        "greaterThan": true,
        "doubleQuote": true,
        "singleQuote": true,
        "backtick": true
      },
      "customRules": [
        {
          "from": "&",
          "to": "&amp;"
        }
      ]
    },
    "serverSide": {
      "sanitizeEnabled": true,
      "defaultRuleToggles": {
        "ampersand": true,
        "lessThan": true,
        "greaterThan": true,
        "doubleQuote": true,
        "singleQuote": true,
        "backtick": true
      },
      "customRules": [
        {
          "from": "<",
          "to": "&lt;"
        },
        {
          "from": ">",
          "to": "&gt;"
        }
      ]
    }
  }
}